.dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItems .active {
  color: white;
}

.dialogItems .dialog {
}

.messages {
  padding: 10px;
}

.messages .message {
}
